body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: justify;
  margin: 0;
}

#pagecontent-main {
  margin-top: 80px;
  height: calc(100vh - 100px);
  padding-right: 18px;
  padding-left: 220px;
  overflow-y: scroll;
}

/* LOGO DESIGN */
#logo {
  position: fixed;
  display: block;
  top: 0%;
  left: 0%;
  z-index: 9001;
  min-width: 12vw;
  max-width: 15%;
}
#logopic {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 130px;
}
/* LOGO DESIGN END */
/* TOP NAV-BAR */
.navigation-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 70px;
  top: 0%;
  right: 0;
  z-index: 1;
  background: rgb(238, 225, 225);
}
/* nav-links style */
.nav-links {
  display: flex;
  list-style-type: none;
  overflow: hidden;
}
.nav-links * {
  font-weight: 400;
  color: rgb(0, 0, 0);
  padding-right: 15px;
  border: transparent;
  padding: 6px;
  text-decoration: none;
  font-size: 18px;
}
.nav-links * :hover {
  background-color: rgb(95, 15, 15);
  color: rgb(255, 255, 255);
  border-radius: 12px;
}
#top {
  display: flex;
  bottom: 200px;
}
@media screen and (max-width: 600px) {
  .nav-link {
    float: none;
    width: 100%;
  }
}
/* nav-links style END */
/* TOP NAV-BAR END */
/* SIDE NAV-BAR START */
#side-nav {
  height: 100%;
  width: 200px;
  max-width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(192, 159, 159);
  overflow-x: hidden;
  margin-top: 120px;
  transition: 0.5s;
}
.sidenav-links {
  display: block;
  list-style-type: none;
  padding: 2px;
  padding-left: 15px;
}
.top {
  padding-top: 15px;
}

.sidelink {
  text-decoration: none;
  color: black;
}
.sidelink:hover {
  color: #f1f1f1;
}

#contributors {
  display: inline-block;
  padding-top: 15px;
  padding-left: 12px;
  font-weight: 600;
}
/* SIDE NAV-BAR END */
/* HEADER  */
#head {
  position: relative;
  padding-right: 377px;
  padding-bottom: 20px;
}
