body {
  text-align: justify;
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* LOGO DESIGN */
#logo {
  position: fixed;
  display: block;
  top: 70px;
  left: 0%;
  z-index: 9001;
  min-width: 12vw;
  max-width: 15%;
}
#logopic {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: 180px;
}
/* LOGO DESIGN END */
/* TOP NAV-BAR */
.navigation-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 70px;
  top: 0%;
  right: 0;
  z-index: 9001;
  background: rgb(238, 225, 225);
}
/* nav-links style */
.nav-links {
  display: flex;
  list-style-type: none;
  overflow: hidden;
}
.nav-links * {
  font-weight: 400;
  color: rgb(0, 0, 0);
  padding-right: 15px;
  border: transparent;
  padding: 6px;
  text-decoration: none;
  font-size: 18px;
}
.nav-links * :hover {
  background-color: rgb(95, 15, 15);
  color: rgb(255, 255, 255);
  border-radius: 12px;
}
#top {
  display: flex;
  bottom: 200px;
}
/* @media screen and (max-width: 600px) {
  .nav-link {
    float: none;
    width: 100%;
  }
} */
/* nav-links style END */
/* TOP NAV-BAR END */
/* SIDE NAV-BAR START */
#side-nav {
  height: 100%;
  width: 249px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(192, 159, 159);
  overflow-x: hidden;
  margin-top: 250px;
  transition: 0.5s;
}
.sidenav-links {
  display: block;
  list-style-type: none;
  padding: 2px;
  padding-left: 15px;
}
.top {
  padding-top: 15px;
}

.sidelink {
  text-decoration: none;
  color: black;
}
.sidelink:hover {
  color: #f1f1f1;
}

#contributors {
  display: inline-block;
  padding-top: 15px;
  padding-left: 12px;
  font-weight: 600;
}
/* SIDE NAV-BAR END */
/* HEADER  */
#head {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
}

/* HEADER END */
/* CONTENTS - MAIN */

#main-wrapper {
  padding: 10px;
  /* width: calc(100vw - (248px)); */
  height: calc(100vh - (20px));
  margin-top: -500px;
  margin-left: 249px;
  padding-bottom: 250px;
  overflow-y: scroll;
}

/* TABLE OF CONTENTS: */

#contents {
  display: block;
  width: 25%;
  max-width: 250px;
  border-radius: 12px;
  margin-right: 10px;
  margin-left: 10px;
  border: solid 2px black;
  float: right;
}

#content-list * {
  position: relative;
  z-index: 10;
  padding: 6px;
}

#smalltitle {
  padding-top: 4px;
  margin-bottom: -10px;
  padding-left: 9px;
}

#moreinfo * {
  position: relative;
  z-index: 10;
  padding: 8px;
  margin-left: -8px;
  list-style-type: none;
}

.content-item :hover {
  background-color: rgb(179, 157, 157);

  color: rgb(255, 255, 255);
  border-radius: 6px;
}
/* TABLE OF CONTENTS END */

#about {
  /* margin-top: 35px; */
  display: flex;
  flex-direction: column;
  padding: 9px;
  box-sizing: border-box;
  text-align: justify;
  line-height: 1.5;
  letter-spacing: 1.5;
  margin-top: -65px;
}

.collapsible {
  position: relative;
  display: none;
  background-color: rgb(194, 137, 137);
  color: #444;
  cursor: pointer;
  padding: 6px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}

#aboutimage {
  position: relative;
}

#japanpic {
  display: flex;
  width: 62.5%;
  margin-left: 10px;
  padding-bottom: 10px;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width: 320px) and (max-device-width: 480px) {
  .nonmobile {
    display: none;
  }

  .btn {
    position: relative;
    right: -250px;
    top: -110px;
    z-index: 9001;
  }

  .sidebar {
    position: absolute;
    margin-left: 250px;
    margin-top: -110px;
    z-index: 9001;
    max-height: 200px;
  }

  .sidebar * {
    position: relative;
    font-size: 12px;
    z-index: 9001;
  }

  #side-nav {
    display: none;
  }
  .navigation-bar {
    font-size: 12px;
  }
  .nav-links * {
    font-size: 12px;
  }
  #head {
    font-size: 11px;
  }
  #logopic {
    display: none;
  }

  #page-wrapper {
    position: relative;
    right: 260px;
    width: 705px;
  }

  #main-wrapper {
    display: block;
    padding: 10px;
    height: calc(100vh - (20px));
    margin-top: -150px;
    margin-left: 249px;
    overflow-y: scroll;
  }

  #about {
    position: relative;
    width: 420px;
    margin-left: 15px;
  }

  #about-japan {
    z-index: -1;
  }

  #aboutbtn {
    width: 100px;
    left: 300px;
  }

  .collapsible {
    display: block;
    z-index: 10;
  }

  #aboutimage {
    margin-top: 20px;
  }

  #contents {
    width: 400px;
    max-width: 1000px;
    margin-top: 6px;
    border: solid 2px black;
  }

  #content-list {
    margin-top: 20px;
  }

  #content-list * {
    position: relative;
    padding: 4px;
    font-size: 15px;
    left: 35px;
    top: 10px;
    color: #2b2e33;
    list-style-type: none;
  }

  #smalltitle {
    position: relative;
    font-size: 14px;
    margin-left: 180px;
    top: -135px;
  }

  #moreinfo {
    margin-left: 220px;
    margin-top: -135px;
  }
  #moreinfo * {
    margin-left: -16px;
    padding: 6px;
    font-size: 14px;
    color: #2b2e33;
  }
  #japanpic {
    width: 400px;
    padding-top: 20px;
    padding-left: 50px;
  }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* Styles */
}
/**********
  iPad 3
  **********/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  /* Styles */
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  /* Styles */
}
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  /* Styles */
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  /* Styles */
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

/* iPhone 6, 7, 8 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

/* iPhone 6+, 7+, 8+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

/* iPhone X ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
}

/* iPhone XS Max, XR ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
}

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

#checkbox,
.btn span {
  /* Hide the checkbox input & word "Menu" in the button */
  display: none;
}

/* Menu button - starts */
.btn {
  display: block;
  background-color: #247d9e;
  color: #fff;
  width: 55px;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  margin-top: 180px;
  cursor: pointer;
  transition: width 0.3s ease-in-out;
}
/* Menu button - ends */

/* Sidebar - starts */
.sidebar {
  background-color: #2b2e33;
  width: 250px;
  height: 100%;
  z-index: 1;
  transition: transform 0.3s ease-in-out;
  transform: translateX(-250px);
}

.sidebar ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.sidebar ul a {
  position: relative;
  text-decoration: none;
  display: block;
  background-color: transparent;
  color: #bab5bd;
  padding: 15px 20px;
  font-size: 16px;
}

.sidebar ul a li i {
  margin-right: 21px;
}

/* Add margin to the icon in the second item */
.sidebar ul a:nth-child(2) li i {
  margin-left: 4px;
  margin-right: 19px;
}

.sidebar ul a:hover,
.sidebar ul a.active {
  background-color: #161920;
  color: #fff;
}

.sidebar ul a:hover::before,
.sidebar ul a.active::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  background-color: #247d9e;
  width: 4px;
  height: 100%;
}
/* Sidebar - ends */

/* Effect of showing the sidebar - starts */
#checkbox:checked ~ .sidebar {
  transform: translateX(0);
}

#checkbox:checked + .btn {
  width: 250px;
  padding: 0 20px;
}

#checkbox:checked + .btn span {
  /* Show again the word "Menu" in the button */
  display: inline;
}
/* Effect of showing the sidebar - ends */
